body{background:cyan;}
.header{
    background:yellow;
color:teal;
}
.result_para { box-shadow:5px 5px 5px grey; font-size: 20px; } .result_para span { white-space: pre-line; }
.header img{width:100px;}



     .copyright_footer { position: fixed;
         color: #6c757d;
          bottom: 0;
           width: 100%; background-color: #f5f5f5; line-height: 3;
            text-align: center; }

            .main_div { background:#ffd2c7; padding: 10px; margin-top: 15px; border: 3px solid white; }

            .main_div label { background: white;
                 width: 310px;
                  padding: 10px; margin-bottom: 0px;
                   box-shadow: 5px 5px 18px white; }

                    

                           canvas { border:5px solid white; border-radius:20px; box-shadow:5px 5px 5px grey; margin-top: 160px; }